Inventory-Aggregation-DB
[{"id":"ebea9d7c.10001","type":"tab","label":"Host Data to Database","disabled":false,"info":""},{"id":"36f2ab1c.e57cf4","type":"tab","label":"Admin Stuff","disabled":false,"info":""},{"id":"cf827d50.30b0b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2e176e37.7ab862","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"maxar","tz":"","charset":"UTF8"},{"id":"8e40ae24.4445","type":"MySQLdatabase","name":"Test (Data, Environment)","host":"[redacted]","port":"3306","db":"Environment","tz":"","charset":"UTF8"},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"sys","tz":""},{"id":"494c5b78.7c6a84","type":"MySQLdatabase","host":"sl-eu-lon-2-portal.11.dblayer.com","port":"27707 ","db":"compose","tz":""},{"id":"7ec1a51d.fb508c","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"petals","tz":""},{"id":"4e6da939.f20828","type":"mysql","z":"ebea9d7c.10001","mydb":"2e176e37.7ab862","name":"Maxar Cyber DB","x":1040,"y":460,"wires":[["215cda5a.69f8e6"]]},{"id":"1ac2ff5e.fd5731","type":"watch-directory","z":"ebea9d7c.10001","folder":"/tmp/in/","recursive":0,"typeEvent":"create","ignoreInitial":true,"ignoredFiles":"","ignoredFilesType":"re","name":"Inbound Folder Listener","x":230,"y":600,"wires":[["e84f63cc.845e9"]]},{"id":"7fa2fe60.8ec2a","type":"csv","z":"ebea9d7c.10001","name":"tanium_hosts to json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"include_empty_strings":false,"include_null_values":false,"x":620,"y":160,"wires":[["4820d601.9010d8","4cfeb509.d286cc"]]},{"id":"6dd7065a.82ead8","type":"inject","z":"ebea9d7c.10001","name":"tanium_hosts.csv","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/tmp/in/tanium_hosts.csv","payloadType":"str","x":200,"y":120,"wires":[["e84f63cc.845e9"]]},{"id":"4b4b69ef.b12b98","type":"file in","z":"ebea9d7c.10001","name":"/tmp/in/tanium_hosts.csv","filename":"/tmp/in/tanium_hosts.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":590,"y":120,"wires":[["7fa2fe60.8ec2a"]]},{"id":"4820d601.9010d8","type":"function","z":"ebea9d7c.10001","name":"insert tanium_hosts data","func":"// Load JSON data into variables\nvar varFQDN=msg.payload[\"Computer Name\"];\nvar varOS=msg.payload[\"Operating System\"];\nvar varIP=msg.payload[\"IP Address\"];\nvar varUSER=msg.payload[\"User Name\"];\nvar varMANUFACTURER=msg.payload[\"Manufacturer\"];\nvar varSERIAL=msg.payload[\"Serial Number\"];\nvar varLASTUPDATED=msg.payload[\"Updated Date\"]\n\n// Format last seen to mysql format\nvarLASTUPDATED=varLASTUPDATED.replace(\"T\",\" \").replace(\"Z\",\"\")\n// Escape the \\ so it is included in the database\nvarUSER=varUSER.replace(\"\\\\\",\"\\\\\\\\\")\n\n// Create Shortname and domain from fqdn\nvar varSHORT=varFQDN;\nvar varDOMAIN='';\nif(varFQDN.indexOf(\".\")>0){\n    var varFQDNTEMP1=varFQDN;\n    var varFQDNTEMP2=varFQDNTEMP1.replace(\".\",\":\");\n    var varFQDNTEMP3=varFQDNTEMP2.split(\":\");\n    varSHORT=varFQDNTEMP3[0];\n    varDOMAIN=varFQDNTEMP3[1];\n}\n\n// Create timestamp for database and log\nvar varDateTemp=new Date();\nvar varDate=\"\"+varDateTemp.getFullYear()+\"-\"+(varDateTemp.getMonth()+1)+\"-\"+varDateTemp.getDate()+\" \"+varDateTemp.getHours()+\":\"+varDateTemp.getMinutes()+\":\"+varDateTemp.getSeconds()+\"\";\n\n// Clean up any empty/null results\nif(!varOS){varOS='';}\nif(!varIP){varIP='';}\nif(!varUSER){varUSER='';}\nif(!varMANUFACTURER){varMANUFACTURER='';}\nif(!varSERIAL){varSERIAL='';}\nif(!varLASTUPDATED){varLASTUPDATED=varDate;}\n\n// Create MySQL statement from variables\n//msg.topic=\"REPLACE INTO tanium_hosts (shortname,fqdn,os,ip,lastupdated) VALUES ('\"+varSHORT+\"','\"+varFQDN+\"','\"+varOS+\"','\"+varIP+\"','\"+varLASTUPDATED+\"');\";\nmsg.topic=\"\\\nINSERT INTO hosts_table (shortname,fqdn,domain,TANIUM_lastupdated,os,TANIUM_ip,TANIUM_user,TANIUM_manufacturer,TANIUM_serial) \\\nVALUES (UPPER('\"+varSHORT+\"'),UPPER('\"+varFQDN+\"'),UPPER('\"+varDOMAIN+\"'),'\"+varLASTUPDATED+\"',UPPER('\"+varOS+\"'),'\"+varIP+\"',UPPER('\"+varUSER+\"'),UPPER('\"+varMANUFACTURER+\"'),UPPER('\"+varSERIAL+\"')) \\\nON DUPLICATE KEY UPDATE \\\nfqdn=COALESCE(NULLIF(UPPER(VALUES(fqdn)),''),UPPER(fqdn)),\\\ndomain=COALESCE(NULLIF(UPPER(VALUES(domain)),''),UPPER(domain)),\\\nTANIUM_lastupdated=COALESCE(VALUES(TANIUM_lastupdated),TANIUM_lastupdated),\\\nos=COALESCE(NULLIF(UPPER(VALUES(os)),''),UPPER(os)),\\\nTANIUM_ip=COALESCE(NULLIF(UPPER(VALUES(TANIUM_ip)),''),UPPER(TANIUM_ip)),\\\nTANIUM_user=COALESCE(NULLIF(UPPER(VALUES(TANIUM_user)),''),UPPER(TANIUM_user)),\\\nTANIUM_manufacturer=COALESCE(NULLIF(UPPER(VALUES(TANIUM_manufacturer)),''),UPPER(TANIUM_manufacturer)),\\\nTANIUM_serial=COALESCE(NULLIF(UPPER(VALUES(TANIUM_serial)),''),UPPER(TANIUM_serial));\"\n\nmsg.payload=null;\n// Build log file entry\nvar msg2={payload:\"\"+varDate+\": Writting \"+varSHORT+\" from Tanium to hosts_table.\"};\n\n// Send MySQL and Log file strings\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["4e6da939.f20828"],["713c15f5.9db5bc"]]},{"id":"e84f63cc.845e9","type":"function","z":"ebea9d7c.10001","name":"Inbound File Director","func":"//Set a global Date variable for renaming the in files to out folders\nvar varDate=new Date();\nvar date=\"\"+varDate.getFullYear()+\"-\"+(varDate.getMonth()+1)+\"-\"+varDate.getDate()+\"_\"+varDate.getHours()+varDate.getMinutes()+varDate.getSeconds()+\"\";\nglobal.set(\"Date\",date)\n\n// #1 is for debugging\n// #2\nif (msg.payload===\"/tmp/in/tanium_hosts.csv\")\n{\n    return [msg,msg,null,null,null,null,null,null,null,null];\n}\n// #3\nif (msg.payload===\"/tmp/in/crowdstrike_hosts.csv\")\n{\n    return [msg,null,msg,null,null,null,null,null,null,null];\n}\n// #4\nif (msg.payload===\"/tmp/in/readyworks_hosts.csv\")\n{\n    return [msg,null,null,msg,null,null,null,null,null,null];\n}\n// #5\nif (msg.payload===\"/tmp/in/cherwell_hosts.csv\")\n{\n    return [msg,null,null,null,msg,null,null,null,null,null];\n}\n// #6\nif (msg.payload===\"/tmp/in/ad_ent_hosts.csv\")\n{\n    return [msg,null,null,null,null,msg,null,null,null,null];\n}\n// #7\nif (msg.payload===\"/tmp/in/ad_mxr_hosts.csv\")\n{\n    return [msg,null,null,null,null,null,msg,null,null,null];\n}\n// #8\nif (msg.payload===\"/tmp/in/ad_sslmda_hosts.csv\")\n{\n    return [msg,null,null,null,null,null,null,msg,null,null];\n}\n// #9\nif (msg.payload===\"/tmp/in/nessus_hosts.csv\")\n{\n    return [msg,null,null,null,null,null,null,null,msg,null];\n}\n//# 10\nif (msg.payload===\"/tmp/in/nessus_hosts.csv\")\n{\n    return [msg,null,null,null,null,null,null,null,null,msg];\n}","outputs":10,"noerr":0,"initialize":"","finalize":"","x":220,"y":700,"wires":[["2e56363f.61850a"],["4b4b69ef.b12b98"],["72a3be0a.618c6"],["b50fdb42.86f6f8"],["b91b1f42.c5a18"],["74194e6d.183ec"],["87b9aa33.8454b8"],["315157f7.966868"],["ef36bb63.db2218"],["74be167d.3ed028"]]},{"id":"4cfeb509.d286cc","type":"fs-ops-move","z":"ebea9d7c.10001","name":"Move tanium_hosts.csv","sourcePath":"/tmp/in/","sourcePathType":"str","sourceFilename":"tanium_hosts.csv","sourceFilenameType":"str","destPath":"/tmp/out/tanium/","destPathType":"str","destFilename":"Date","destFilenameType":"global","link":false,"x":670,"y":200,"wires":[[]]},{"id":"713c15f5.9db5bc","type":"file","z":"ebea9d7c.10001","name":"Log","filename":"/tmp/logs/log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1010,"y":520,"wires":[[]]},{"id":"b87f3b45.b37408","type":"csv","z":"ebea9d7c.10001","name":"crowdstrike_hosts to json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"include_empty_strings":false,"include_null_values":false,"x":630,"y":320,"wires":[["5e769c82.c67934","b327f956.14a018"]]},{"id":"5e769c82.c67934","type":"function","z":"ebea9d7c.10001","name":"insert crowdstrike_hosts data","func":"// Load JSON data into variables\nvar varSHORT=msg.payload[\"Hostname\"].split(\".\")[0];\nvar varDOMAIN=msg.payload[\"Domain\"];\nvar varOS=msg.payload[\"OS Version\"];\nvar varIPLOCAL=msg.payload[\"Local IP\"];\nvar varIPEXTERNAL=msg.payload[\"External IP\"];\nvar varSERIAL=msg.payload[\"Serial Number\"];\nvar varSENSORVERSION=msg.payload[\"Sensor Version\"];\nvar varSITE=msg.payload[\"Site\"];\nvar varLASTUPDATED=msg.payload[\"Last Seen\"];\n\n// Create FQDN due to tool not providing that\nvarFQDN='';\nif(!varDOMAIN){\n    varFQDN=varSHORT;\n    varDOMAIN='';\n}else{\n    varFQDN=\"\"+varSHORT+\".\"+varDOMAIN+\"\";\n}\n\n// Format last seen to mysql format\nvarLASTUPDATED=varLASTUPDATED.replace(\"T\",\" \").replace(\"Z\",\"\");\n\n// Create timestamp for database and log\nvar varDateTemp=new Date();\nvar varDate=\"\"+varDateTemp.getFullYear()+\"-\"+(varDateTemp.getMonth()+1)+\"-\"+varDateTemp.getDate()+\" \"+varDateTemp.getHours()+\":\"+varDateTemp.getMinutes()+\":\"+varDateTemp.getSeconds()+\"\";\n\n// Clean up any empty/null results\nif(!varOS){varOS='';}\nif(!varIPLOCAL){varIPLOCAL='';}\nif(!varIPEXTERNAL){varIPEXTERNAL='';}\nif(!varSERIAL){varSERIAL='';}\nif(!varSENSORVERSION){varSENSORVERSION='';}\nif(!varSITE){varSITE='';}\nif(!varLASTUPDATED){varLASTUPDATED=varDate;}\n\n//Create SQL statement, clear payload since it is not needed\nmsg.topic=\"\\\nINSERT INTO hosts_table (shortname,fqdn,domain,CROWDSTRIKE_lastupdated,os,CROWDSTRIKE_ip_local,CROWDSTRIKE_ip_external,CROWDSTRIKE_serial,CROWDSTRIKE_sensor_version,CROWDSTRIKE_site) \\\nVALUES (UPPER('\"+varSHORT+\"'),UPPER('\"+varFQDN+\"'),UPPER('\"+varDOMAIN+\"'),'\"+varLASTUPDATED+\"',UPPER('\"+varOS+\"'),'\"+varIPLOCAL+\"','\"+varIPEXTERNAL+\"',UPPER('\"+varSERIAL+\"'),UPPER('\"+varSENSORVERSION+\"'),UPPER('\"+varSITE+\"')) \\\nON DUPLICATE KEY UPDATE \\\nfqdn=COALESCE(NULLIF(UPPER(VALUES(fqdn)),''),UPPER(fqdn)),\\\ndomain=COALESCE(NULLIF(UPPER(VALUES(domain)),''),UPPER(domain)),\\\nCROWDSTRIKE_lastupdated=COALESCE(VALUES(CROWDSTRIKE_lastupdated),CROWDSTRIKE_lastupdated),\\\nos=COALESCE(NULLIF(UPPER(VALUES(os)),''),UPPER(os)),\\\nCROWDSTRIKE_ip_local=COALESCE(NULLIF(VALUES(CROWDSTRIKE_ip_local),''),CROWDSTRIKE_ip_local),\\\nCROWDSTRIKE_ip_external=COALESCE(NULLIF(VALUES(CROWDSTRIKE_ip_external),''),CROWDSTRIKE_ip_external),\\\nCROWDSTRIKE_serial=COALESCE(NULLIF(UPPER(VALUES(CROWDSTRIKE_serial)),''),UPPER(CROWDSTRIKE_serial)),\\\nCROWDSTRIKE_sensor_version=COALESCE(NULLIF(UPPER(VALUES(CROWDSTRIKE_sensor_version)),''),UPPER(CROWDSTRIKE_sensor_version)),\\\nCROWDSTRIKE_site=COALESCE(NULLIF(UPPER(VALUES(CROWDSTRIKE_site)),''),UPPER(CROWDSTRIKE_site));\"\n\nmsg.payload='';\n\n//Log host shortame to log file with timestamp\nvar msg2={payload:\"\"+varDate+\": Writting \"+varSHORT+\" from CrowdStike to Hosts table.\"};\n\n//Send data to mysql and log\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":690,"y":400,"wires":[["4e6da939.f20828"],["713c15f5.9db5bc"]]},{"id":"b327f956.14a018","type":"fs-ops-move","z":"ebea9d7c.10001","name":"Move crowdstrike_hosts.csv","sourcePath":"/tmp/in/","sourcePathType":"str","sourceFilename":"crowdstrike_hosts.csv","sourceFilenameType":"str","destPath":"/tmp/out/crowdstrike/","destPathType":"str","destFilename":"Date","destFilenameType":"global","link":false,"x":680,"y":360,"wires":[[]]},{"id":"45ef1105.07a71","type":"csv","z":"ebea9d7c.10001","name":"readyworks_hosts to json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"include_empty_strings":false,"include_null_values":false,"x":630,"y":480,"wires":[["8ebaef4b.4d3e2","d4107571.02a2a8"]]},{"id":"8ebaef4b.4d3e2","type":"function","z":"ebea9d7c.10001","name":"insert readyworks_hosts data","func":"// Load JSON data into variables\nvar varSHORT=msg.payload[\"Name\"];\nvar varDOMAIN=msg.payload[\"Domain\"];\nvar varOS=msg.payload[\"Operating System\"];\nvar varOSBUILD=msg.payload[\"Os Build\"];\nvar varOSVERSION=msg.payload[\"Win10 Version\"];\nvar varSERIAL=msg.payload[\"Serial\"];\nvar varUSER=msg.payload[\"User Name\"];\nvar varLOCATION=msg.payload[\"Location\"];\n\n// Create FQDN due to tool not providing that\nvar varFQDN='';\nif(!varDOMAIN){\n    varFQDN=varSHORT;\n    varDOMAIN='';\n}else{\n    varFQDN=\"\"+varSHORT+\".\"+varDOMAIN+\"\";\n}\n\n// Create timestamp for database and log\nvar varDateTemp=new Date();\nvar varDate=\"\"+varDateTemp.getFullYear()+\"-\"+(varDateTemp.getMonth()+1)+\"-\"+varDateTemp.getDate()+\" \"+varDateTemp.getHours()+\":\"+varDateTemp.getMinutes()+\":\"+varDateTemp.getSeconds()+\"\";\n\n// Clean up any empty/null results\nif(!varOS){varOS='';}\nif(!varOSBUILD){varOSBUILD='';}\nif(!varOSVERSION){varOSVERSION='';}\nif(!varSERIAL){varSERIAL='';}\nif(!varUSER){varUSER='';}\nif(!varLOCATION){varLOCATION='';}\nvar varLASTUPDATED=varDate;\n\n//Create SQL statement, clear payload since it is not needed\nmsg.topic=\"\\\nINSERT INTO hosts_table (shortname,fqdn,domain,READYWORKS_lastupdated,os,os_build,os_version,READYWORKS_serial,READYWORKS_user,READYWORKS_location) \\\nVALUES (UPPER('\"+varSHORT+\"'),UPPER('\"+varFQDN+\"'),UPPER('\"+varDOMAIN+\"'),'\"+varLASTUPDATED+\"',UPPER('\"+varOS+\"'),UPPER('\"+varOSBUILD+\"'),UPPER('\"+varOSVERSION+\"'),UPPER('\"+varSERIAL+\"'),UPPER('\"+varUSER+\"'),UPPER('\"+varLOCATION+\"')) \\\nON DUPLICATE KEY UPDATE \\\nfqdn=COALESCE(NULLIF(UPPER(VALUES(fqdn)),''),UPPER(fqdn)),\\\ndomain=COALESCE(NULLIF(UPPER(VALUES(domain)),''),UPPER(domain)),\\\nREADYWORKS_lastupdated=COALESCE(VALUES(READYWORKS_lastupdated),READYWORKS_lastupdated),\\\nos=COALESCE(NULLIF(UPPER(VALUES(os)),''),UPPER(os)),\\\nos_build=COALESCE(NULLIF(UPPER(VALUES(os_build)),''),UPPER(os_build)),\\\nos_version=COALESCE(NULLIF(UPPER(VALUES(os_version)),''),UPPER(os_version)),\\\nREADYWORKS_serial=COALESCE(NULLIF(UPPER(VALUES(READYWORKS_serial)),''),UPPER(READYWORKS_serial)),\\\nREADYWORKS_user=COALESCE(NULLIF(UPPER(VALUES(READYWORKS_user)),''),UPPER(READYWORKS_user)),\\\nREADYWORKS_location=COALESCE(NULLIF(UPPER(VALUES(READYWORKS_location)),''),UPPER(READYWORKS_location));\"\n\n//msg.topic=\"REPLACE INTO readyworks_hosts (shortname,fqdn,os,os_build,os_version,lastupdated) VALUES ('\"+varSHORT+\"','\"+varFQDN+\"','\"+varOS+\"','\"+varOSBUILD+\"','\"+varOSVERSION+\"','\"+varLASTUPDATED+\"');\";\nmsg.payload='';\n\n//Log host shortame to log file with timestamp\nvar msg2={payload:\"\"+varDate+\": Writting \"+varSHORT+\" from ReadyWorks to Hosts table.\"};\n\n//Send data to mysql and log\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":690,"y":560,"wires":[["4e6da939.f20828"],["713c15f5.9db5bc"]]},{"id":"d4107571.02a2a8","type":"fs-ops-move","z":"ebea9d7c.10001","name":"Move readyworks_hosts.csv","sourcePath":"/tmp/in/","sourcePathType":"str","sourceFilename":"readyworks_hosts.csv","sourceFilenameType":"str","destPath":"/tmp/out/readyworks/","destPathType":"str","destFilename":"Date","destFilenameType":"global","link":false,"x":680,"y":520,"wires":[[]]},{"id":"72a3be0a.618c6","type":"file in","z":"ebea9d7c.10001","name":"/tmp/in/crowdstrike_hosts.csv","filename":"/tmp/in/crowdstrike_hosts.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":610,"y":280,"wires":[["b87f3b45.b37408"]]},{"id":"b50fdb42.86f6f8","type":"file in","z":"ebea9d7c.10001","name":"/tmp/in/readyworks_hosts.csv","filename":"/tmp/in/readyworks_hosts.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":610,"y":440,"wires":[["45ef1105.07a71"]]},{"id":"56bdeaf.1ee7e14","type":"fs-ops-size","z":"36f2ab1c.e57cf4","name":"Log Size","path":"/tmp/logs/","pathType":"str","filename":"log.txt","filenameType":"str","size":"filesize","sizeType":"msg","x":660,"y":140,"wires":[["8dd38eaa.83e59"]]},{"id":"44e6ce6e.91cda","type":"inject","z":"36f2ab1c.e57cf4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["7e3b199f.0083d8"]]},{"id":"c9dc9f10.d9816","type":"debug","z":"36f2ab1c.e57cf4","name":"Debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":140,"wires":[]},{"id":"b60b0ceb.1190e","type":"comment","z":"36f2ab1c.e57cf4","name":"Create new log file if it gets larger than 10MB, checks every minute","info":"","x":300,"y":80,"wires":[]},{"id":"8dd38eaa.83e59","type":"function","z":"36f2ab1c.e57cf4","name":"Make new log file","func":"var msg2={};\nvar msg1={};\n\nmsg1.payload=msg.filesize;\nif(msg1.payload>=2048000){\n    msg2.payload=\"log2.txt\";\n    return [null,msg2];}\nreturn [msg1,null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":850,"y":160,"wires":[["c9dc9f10.d9816"],["85b9b8b5.e41d98","fdb1d251.45f12"]]},{"id":"85b9b8b5.e41d98","type":"debug","z":"36f2ab1c.e57cf4","name":"Debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":180,"wires":[]},{"id":"fdb1d251.45f12","type":"fs-ops-move","z":"36f2ab1c.e57cf4","name":"Move file","sourcePath":"/tmp/logs","sourcePathType":"str","sourceFilename":"log.txt","sourceFilenameType":"str","destPath":"/tmp/logs","destPathType":"str","destFilename":"payload","destFilenameType":"msg","link":false,"x":880,"y":220,"wires":[["91a45e9a.eee9f"]]},{"id":"91a45e9a.eee9f","type":"debug","z":"36f2ab1c.e57cf4","name":"Debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":220,"wires":[]},{"id":"eb163c5d.417d6","type":"file","z":"36f2ab1c.e57cf4","name":"Create Log File","filename":"/tmp/logs/log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":500,"y":180,"wires":[["ce3ba16.df9336","56bdeaf.1ee7e14"]]},{"id":"7e3b199f.0083d8","type":"fs-ops-access","z":"36f2ab1c.e57cf4","name":"Test for log file","path":"/tmp/logs/","pathType":"str","filename":"log.txt","filenameType":"str","read":true,"write":true,"throwerror":false,"x":280,"y":160,"wires":[["f8cc2107.83485","56bdeaf.1ee7e14"],["a8eaaea4.1f03b","eb163c5d.417d6"]]},{"id":"f8cc2107.83485","type":"debug","z":"36f2ab1c.e57cf4","name":"Debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":200,"wires":[]},{"id":"a8eaaea4.1f03b","type":"debug","z":"36f2ab1c.e57cf4","name":"Debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":240,"wires":[]},{"id":"ce3ba16.df9336","type":"debug","z":"36f2ab1c.e57cf4","name":"Debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":220,"wires":[]},{"id":"3ee2c2f2.da02ae","type":"csv","z":"ebea9d7c.10001","name":"ad_ent_hosts to json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"1","strings":false,"include_empty_strings":false,"include_null_values":false,"x":620,"y":800,"wires":[["5e939a6e.74d254","97820e01.18dc3"]]},{"id":"5e939a6e.74d254","type":"function","z":"ebea9d7c.10001","name":"insert ad_ent_hosts data","func":"// Load JSON data into variables\nvar varSHORT=msg.payload[\"samaccountname\"];\n\n// Clean up hostname\nvarSHORT=varSHORT.replace(\"$\",\"\");\n\n// Create date for log and lastupdated is not preset\nvar varDateTemp=new Date();\nvar varDate=\"\"+varDateTemp.getFullYear()+\"-\"+(varDateTemp.getMonth()+1)+\"-\"+varDateTemp.getDate()+\" \"+varDateTemp.getHours()+\":\"+varDateTemp.getMinutes()+\":\"+varDateTemp.getSeconds()+\"\";\n\n// Clean up any empty/null results\nvar varLASTUPDATED=varDate;\n\n//Create SQL statement, clear payload since it is not needed\n//msg.topic=\"REPLACE INTO ad_ent_hosts (shortname,os,lastupdated) VALUES ('\"+varSHORT+\"','\"+varOS+\"','\"+varLASTUPDATED+\"');\";\nmsg.topic=\"\\\nINSERT INTO hosts_table (shortname,AD_ENT_lastupdated) \\\nVALUES (UPPER('\"+varSHORT+\"'),'\"+varLASTUPDATED+\"') \\\nON DUPLICATE KEY UPDATE \\\nAD_ENT_lastupdated=COALESCE(VALUES(AD_ENT_lastupdated),AD_ENT_lastupdated);\"\nmsg.payload='';\n\n//Log host shortame to log file with timestamp\nvar msg2={payload:\"\"+varDate+\": Writting \"+varSHORT+\" from AD ENT to Hosts table.\"};\n\n//Send data to mysql and log\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":880,"wires":[["4e6da939.f20828"],["713c15f5.9db5bc"]]},{"id":"97820e01.18dc3","type":"fs-ops-move","z":"ebea9d7c.10001","name":"Move ad_ent_hosts.csv","sourcePath":"/tmp/in/","sourcePathType":"str","sourceFilename":"ad_ent_hosts.csv","sourceFilenameType":"str","destPath":"/tmp/out/ad_ent/","destPathType":"str","destFilename":"Date","destFilenameType":"global","link":false,"x":670,"y":840,"wires":[[]]},{"id":"74194e6d.183ec","type":"file in","z":"ebea9d7c.10001","name":"/tmp/in/ad_ent_hosts.csv","filename":"/tmp/in/ad_ent_hosts.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":590,"y":760,"wires":[["3ee2c2f2.da02ae"]]},{"id":"a18bc95a.7768a8","type":"csv","z":"ebea9d7c.10001","name":"cherwell_hosts to json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"include_empty_strings":false,"include_null_values":false,"x":620,"y":640,"wires":[["8f8040d8.741eb","c745d53.e83a928"]]},{"id":"8f8040d8.741eb","type":"function","z":"ebea9d7c.10001","name":"insert cherwell_hosts data","func":"// Load JSON data into variables\nvar varFQDN=msg.payload[\"Host Name\"];\nvar varOS=msg.payload[\"Operating System\"];\nvar varOSVERSION=msg.payload[\"Operating System Version\"];\nvar varIP=msg.payload[\"IPv4 Address\"];\nvar varASSETTAG=msg.payload[\"Asset Tag\"];\nvar varSITE=msg.payload[\"Site Name\"];\n\n// Create Shortname and domain from fqdn\nvar varSHORT=varFQDN;\nvar varDOMAIN='';\nif(varFQDN.indexOf(\".\")>0){\n    var varFQDNTEMP1=varFQDN;\n    var varFQDNTEMP2=varFQDNTEMP1.replace(\".\",\":\");\n    var varFQDNTEMP3=varFQDNTEMP2.split(\":\");\n    varSHORT=varFQDNTEMP3[0];\n    varDOMAIN=varFQDNTEMP3[1];\n}\n\n// Create timestamp for database and log\nvar varDateTemp=new Date();\nvar varDate=\"\"+varDateTemp.getFullYear()+\"-\"+(varDateTemp.getMonth()+1)+\"-\"+varDateTemp.getDate()+\" \"+varDateTemp.getHours()+\":\"+varDateTemp.getMinutes()+\":\"+varDateTemp.getSeconds()+\"\";\n\n// Clean up any empty/null results\nif(!varOS){varOS='';}\nif(!varOSVERSION){varOSVERSION='';}\nif(!varIP){varIP='';}\nif(!varASSETTAG){varASSETTAG='';}\nif(!varSITE){varSITE='';}\nvar varLASTUPDATED=varDate;\n\n// Create MySQL statement from variables\nmsg.topic=\"\\\nINSERT INTO hosts_table (shortname,fqdn,domain,CHERWELL_lastupdated,os,os_version,CHERWELL_ip,CHERWELL_asset_tag,CHERWELL_site) \\\nVALUES (UPPER('\"+varSHORT+\"'),UPPER('\"+varFQDN+\"'),UPPER('\"+varDOMAIN+\"'),'\"+varLASTUPDATED+\"',UPPER('\"+varOS+\"'),UPPER('\"+varOSVERSION+\"'),'\"+varIP+\"',UPPER('\"+varASSETTAG+\"'),UPPER('\"+varSITE+\"')) \\\nON DUPLICATE KEY UPDATE \\\nfqdn=COALESCE(NULLIF(UPPER(VALUES(fqdn)),''),UPPER(fqdn)),\\\ndomain=COALESCE(NULLIF(UPPER(VALUES(domain)),''),UPPER(domain)),\\\nCHERWELL_lastupdated=COALESCE(VALUES(CHERWELL_lastupdated),CHERWELL_lastupdated),\\\nos=COALESCE(NULLIF(UPPER(VALUES(os)),''),UPPER(os)),\\\nos_version=COALESCE(NULLIF(UPPER(VALUES(os_version)),''),UPPER(os_version)),\\\nCHERWELL_ip=COALESCE(NULLIF(UPPER(VALUES(CHERWELL_ip)),''),UPPER(CHERWELL_ip)),\\\nCHERWELL_asset_tag=COALESCE(NULLIF(UPPER(VALUES(CHERWELL_asset_tag)),''),UPPER(CHERWELL_asset_tag)),\\\nCHERWELL_site=COALESCE(NULLIF(UPPER(VALUES(CHERWELL_site)),''),UPPER(CHERWELL_site));\"\n\n//msg.topic=\"REPLACE INTO cherwell_hosts (shortname,fqdn,os,os_version,ip,asset_tag,site,lastupdated) VALUES ('\"+varSHORT+\"','\"+varFQDN+\"','\"+varOS+\"','\"+varOSVERSION+\"','\"+varIP+\"','\"+varASSETTAG+\"','\"+varSITE+\"','\"+varLASTUPDATED+\"');\";\nmsg.payload='';\n\n// Build log file entry\nvar msg2={payload:\"\"+varDate+\": Writting \"+varSHORT+\" to Cherwell Hosts table.\"};\n\n// Send MySQL and Log file strings\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":720,"wires":[["4e6da939.f20828"],["713c15f5.9db5bc"]]},{"id":"c745d53.e83a928","type":"fs-ops-move","z":"ebea9d7c.10001","name":"Move cherwell_hosts.csv","sourcePath":"/tmp/in/","sourcePathType":"str","sourceFilename":"cherwell_hosts.csv","sourceFilenameType":"str","destPath":"/tmp/out/cherwell/","destPathType":"str","destFilename":"Date","destFilenameType":"global","link":false,"x":670,"y":680,"wires":[[]]},{"id":"b91b1f42.c5a18","type":"file in","z":"ebea9d7c.10001","name":"/tmp/in/cherwell_hosts.csv","filename":"/tmp/in/cherwell_hosts.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":600,"y":600,"wires":[["a18bc95a.7768a8"]]},{"id":"ab4b2f4d.f5fd6","type":"csv","z":"ebea9d7c.10001","name":"ad_mxr_hosts to json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"1","strings":false,"include_empty_strings":false,"include_null_values":false,"x":620,"y":960,"wires":[["198c8858.5ef078","87b36a6b.6174b8"]]},{"id":"198c8858.5ef078","type":"function","z":"ebea9d7c.10001","name":"insert ad_mxr_hosts data","func":"// Load JSON data into variables\nvar varSHORT=msg.payload[\"samaccountname\"];\n\n// Clean up hostname\nvarSHORT=varSHORT.replace(\"$\",\"\");\n\n// Create date for log and lastupdated is not preset\nvar varDateTemp=new Date();\nvar varDate=\"\"+varDateTemp.getFullYear()+\"-\"+(varDateTemp.getMonth()+1)+\"-\"+varDateTemp.getDate()+\" \"+varDateTemp.getHours()+\":\"+varDateTemp.getMinutes()+\":\"+varDateTemp.getSeconds()+\"\";\n\n// Clean up any empty/null results\nvar varLASTUPDATED=varDate;\n\n//Create SQL statement, clear payload since it is not needed\nmsg.topic=\"\\\nINSERT INTO hosts_table (shortname,AD_MXR_lastupdated) \\\nVALUES (UPPER('\"+varSHORT+\"'),'\"+varLASTUPDATED+\"') \\\nON DUPLICATE KEY UPDATE \\\nAD_MXR_lastupdated=COALESCE(VALUES(AD_MXR_lastupdated),AD_MXR_lastupdated);\"\nmsg.payload='';\n\n//Log host shortame to log file with timestamp\nvar msg2={payload:\"\"+varDate+\": Writting \"+varSHORT+\" from AD MXR to Hosts table.\"};\n\n//Send data to mysql and log\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":1040,"wires":[["4e6da939.f20828"],["713c15f5.9db5bc"]]},{"id":"87b36a6b.6174b8","type":"fs-ops-move","z":"ebea9d7c.10001","name":"Move ad_mxr_hosts.csv","sourcePath":"/tmp/in/","sourcePathType":"str","sourceFilename":"ad_mxr_hosts.csv","sourceFilenameType":"str","destPath":"/tmp/out/ad_mxr/","destPathType":"str","destFilename":"Date","destFilenameType":"global","link":false,"x":670,"y":1000,"wires":[[]]},{"id":"87b9aa33.8454b8","type":"file in","z":"ebea9d7c.10001","name":"/tmp/in/ad_mxr_hosts.csv","filename":"/tmp/in/ad_mxr_hosts.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":590,"y":920,"wires":[["ab4b2f4d.f5fd6"]]},{"id":"a2647945.3b0df8","type":"csv","z":"ebea9d7c.10001","name":"ad_sslmda_hosts to json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"1","strings":false,"include_empty_strings":false,"include_null_values":false,"x":630,"y":1120,"wires":[["58db9cfa.b3def4","92e972d1.1aead"]]},{"id":"58db9cfa.b3def4","type":"function","z":"ebea9d7c.10001","name":"insert ad_sslmda_hosts data","func":"// Load JSON data into variables\nvar varSHORT=msg.payload[\"samaccountname\"];\n\n// Clean up hostname\nvarSHORT=varSHORT.replace(\"$\",\"\");\n\n// Create date for log and lastupdated is not preset\nvar varDateTemp=new Date();\nvar varDate=\"\"+varDateTemp.getFullYear()+\"-\"+(varDateTemp.getMonth()+1)+\"-\"+varDateTemp.getDate()+\" \"+varDateTemp.getHours()+\":\"+varDateTemp.getMinutes()+\":\"+varDateTemp.getSeconds()+\"\";\n\n// Clean up any empty/null results\nvar varLASTUPDATED=varDate;\n\n//Create SQL statement, clear payload since it is not needed\nmsg.topic=\"\\\nINSERT INTO hosts_table (shortname,AD_SSLMDA_lastupdated) \\\nVALUES (UPPER('\"+varSHORT+\"'),'\"+varLASTUPDATED+\"') \\\nON DUPLICATE KEY UPDATE \\\nAD_SSLMDA_lastupdated=COALESCE(VALUES(AD_SSLMDA_lastupdated),AD_SSLMDA_lastupdated);\"\nmsg.payload='';\n\n//Log host shortame to log file with timestamp\nvar msg2={payload:\"\"+varDate+\": Writting \"+varSHORT+\" from AD SSLMDA to Hosts table.\"};\n\n//Send data to mysql and log\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":1200,"wires":[["4e6da939.f20828"],["713c15f5.9db5bc"]]},{"id":"92e972d1.1aead","type":"fs-ops-move","z":"ebea9d7c.10001","name":"Move ad_sslmda_hosts.csv","sourcePath":"/tmp/in/","sourcePathType":"str","sourceFilename":"ad_sslmda_hosts.csv","sourceFilenameType":"str","destPath":"/tmp/out/ad_sslmda/","destPathType":"str","destFilename":"Date","destFilenameType":"global","link":false,"x":680,"y":1160,"wires":[[]]},{"id":"315157f7.966868","type":"file in","z":"ebea9d7c.10001","name":"/tmp/in/ad_sslmda_hosts.csv","filename":"/tmp/in/ad_sslmda_hosts.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":600,"y":1080,"wires":[["a2647945.3b0df8"]]},{"id":"2e56363f.61850a","type":"debug","z":"ebea9d7c.10001","name":"Debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":180,"y":800,"wires":[]},{"id":"eba97aca.015d08","type":"debug","z":"ebea9d7c.10001","name":"Debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":360,"wires":[]},{"id":"dfd0f1b2.ac369","type":"debug","z":"ebea9d7c.10001","name":"Debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":400,"wires":[]},{"id":"215cda5a.69f8e6","type":"debug","z":"ebea9d7c.10001","name":"Debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":460,"wires":[]},{"id":"71ffd7cc.ec7288","type":"debug","z":"ebea9d7c.10001","name":"Debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":520,"wires":[]},{"id":"4bf50eb5.11ef8","type":"debug","z":"ebea9d7c.10001","name":"Debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":580,"wires":[]},{"id":"ccb3f756.d097c8","type":"csv","z":"ebea9d7c.10001","name":"nessus_hosts to json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"include_empty_strings":false,"include_null_values":false,"x":620,"y":1280,"wires":[["e55f896f.f78598","bb8c3125.052b7"]]},{"id":"e55f896f.f78598","type":"function","z":"ebea9d7c.10001","name":"insert nessus_hosts data","func":"// Load JSON data into variables\nvar varFQDN=msg.payload[\"FQDN\"];\nvar varOS=msg.payload[\"OS\"];\nvar varIP=msg.payload[\"IP\"];\n\n// Create Shortname and domain from fqdn\nvar varSHORT=varFQDN;\nvar varDOMAIN='';\nif(varFQDN.indexOf(\".\")>0){\n    var varFQDNTEMP1=varFQDN;\n    var varFQDNTEMP2=varFQDNTEMP1.replace(\".\",\":\");\n    var varFQDNTEMP3=varFQDNTEMP2.split(\":\");\n    varSHORT=varFQDNTEMP3[0];\n    varDOMAIN=varFQDNTEMP3[1];\n}\n\n// Create timestamp for database and log\nvar varDateTemp=new Date();\nvar varDate=\"\"+varDateTemp.getFullYear()+\"-\"+(varDateTemp.getMonth()+1)+\"-\"+varDateTemp.getDate()+\" \"+varDateTemp.getHours()+\":\"+varDateTemp.getMinutes()+\":\"+varDateTemp.getSeconds()+\"\";\n\n// Clean up any empty/null results\nif(!varOS){varOS='';}\nif(!varIP){varIP='';}\nvarLASTUPDATED=varDate;\n\n// Create MySQL statement from variables\nmsg.topic=\"\\\nINSERT INTO hosts_table (shortname,fqdn,domain,NESSUS_lastupdated,NESSUS_os,NESSUS_ip) \\\nVALUES (UPPER('\"+varSHORT+\"'),UPPER('\"+varFQDN+\"'),UPPER('\"+varDOMAIN+\"'),'\"+varLASTUPDATED+\"',UPPER('\"+varOS+\"'),'\"+varIP+\"') \\\nON DUPLICATE KEY UPDATE \\\nfqdn=COALESCE(NULLIF(UPPER(VALUES(fqdn)),''),UPPER(fqdn)),\\\ndomain=COALESCE(NULLIF(UPPER(VALUES(domain)),''),UPPER(domain)),\\\nNESSUS_lastupdated=COALESCE(VALUES(NESSUS_lastupdated),NESSUS_lastupdated),\\\nNESSUS_os=COALESCE(NULLIF(UPPER(VALUES(NESSUS_os)),''),UPPER(NESSUS_os)),\\\nNESSUS_ip=COALESCE(NULLIF(UPPER(VALUES(NESSUS_ip)),''),UPPER(NESSUS_ip));\"\n\nmsg.payload='';\n\n//Log host shortame to log file with timestamp\nvar msg2={payload:\"\"+varDate+\": Writting \"+varSHORT+\" to NESSUS Hosts table.\"};\n\n//Send data to mysql and log\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":1360,"wires":[["4e6da939.f20828"],["713c15f5.9db5bc"]]},{"id":"bb8c3125.052b7","type":"fs-ops-move","z":"ebea9d7c.10001","name":"Move nessus_hosts.csv","sourcePath":"/tmp/in/","sourcePathType":"str","sourceFilename":"nessus_hosts.csv","sourceFilenameType":"str","destPath":"/tmp/out/nessus/","destPathType":"str","destFilename":"Date","destFilenameType":"global","link":false,"x":670,"y":1320,"wires":[[]]},{"id":"ef36bb63.db2218","type":"file in","z":"ebea9d7c.10001","name":"/tmp/in/nessus_hosts.csv","filename":"/tmp/in/nessus_hosts.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":590,"y":1240,"wires":[["ccb3f756.d097c8"]]},{"id":"2eb3d121.2970ee","type":"inject","z":"ebea9d7c.10001","name":"readyworks_hosts.csv","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/tmp/in/readyworks_hosts.csv","payloadType":"str","x":220,"y":200,"wires":[["e84f63cc.845e9"]]},{"id":"572044dd.7a7a5c","type":"inject","z":"ebea9d7c.10001","name":"crowdstrike_hosts.csv","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/tmp/in/crowdstrike_hosts.csv","payloadType":"str","x":220,"y":160,"wires":[["e84f63cc.845e9"]]},{"id":"2cc076ab.7afe9a","type":"inject","z":"ebea9d7c.10001","name":"cherwell_hosts.csv","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/tmp/in/cherwell_hosts.csv","payloadType":"str","x":210,"y":240,"wires":[["e84f63cc.845e9"]]},{"id":"113570d6.99c93f","type":"inject","z":"ebea9d7c.10001","name":"ad_ent_hosts.csv","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/tmp/in/ad_ent_hosts.csv","payloadType":"str","x":210,"y":280,"wires":[["e84f63cc.845e9"]]},{"id":"e9b51bb0.735618","type":"inject","z":"ebea9d7c.10001","name":"ad_mxr_hosts.csv","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/tmp/in/ad_mxr_hosts.csv","payloadType":"str","x":210,"y":320,"wires":[["e84f63cc.845e9"]]},{"id":"d4318e3a.7fdc7","type":"inject","z":"ebea9d7c.10001","name":"ad_sslmda_hosts.csv","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/tmp/in/ad_sslmda_hosts.csv","payloadType":"str","x":220,"y":360,"wires":[["e84f63cc.845e9"]]},{"id":"cfd4174a.405928","type":"inject","z":"ebea9d7c.10001","name":"nessus_hosts.csv","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/tmp/in/nessus_hosts.csv","payloadType":"str","x":210,"y":400,"wires":[["e84f63cc.845e9"]]},{"id":"5a5f97ba.73bac8","type":"comment","z":"ebea9d7c.10001","name":"MANUAL CSV TRIGGERS","info":"","x":190,"y":80,"wires":[]},{"id":"5702c264.c32adc","type":"comment","z":"ebea9d7c.10001","name":"CSV INGEST FLOWS FOR EACH SYSTEM/TOOL","info":"","x":630,"y":80,"wires":[]},{"id":"4f796594.8e2ccc","type":"file","z":"ebea9d7c.10001","name":"Log Temp","filename":"/tmp/logs/log_temp.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1040,"y":240,"wires":[[]]},{"id":"12c7dd56.1aab23","type":"csv","z":"ebea9d7c.10001","name":"manual_hosts to json","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"include_empty_strings":false,"include_null_values":false,"x":620,"y":1440,"wires":[["f9ceecb5.198d9","b32918b0.8d90b8"]]},{"id":"f9ceecb5.198d9","type":"function","z":"ebea9d7c.10001","name":"insert manual_hosts data","func":"// Load JSON data into variables\nvar varFQDN=msg.payload[\"FQDN\"];\nvar varOS=msg.payload[\"OS\"];\nvar varIP=msg.payload[\"IP\"];\nvar varUSERNAME=msg.payload[\"User Name\"];\nvar varNAME=msg.payload[\"Name\"];\nvar varEMAIL=msg.payload[\"Email\"];\n\n// Create Shortname and domain from fqdn\nvar varSHORT=varFQDN;\nvar varDOMAIN='';\nif(varFQDN.indexOf(\".\")>0){\n    var varFQDNTEMP1=varFQDN;\n    var varFQDNTEMP2=varFQDNTEMP1.replace(\".\",\":\");\n    var varFQDNTEMP3=varFQDNTEMP2.split(\":\");\n    varSHORT=varFQDNTEMP3[0];\n    varDOMAIN=varFQDNTEMP3[1];\n}\n\n// Create timestamp for database and log\nvar varDateTemp=new Date();\nvar varDate=\"\"+varDateTemp.getFullYear()+\"-\"+(varDateTemp.getMonth()+1)+\"-\"+varDateTemp.getDate()+\" \"+varDateTemp.getHours()+\":\"+varDateTemp.getMinutes()+\":\"+varDateTemp.getSeconds()+\"\";\n\n// Clean up any empty/null results\nif(!varOS){varOS='';}\nif(!varIP){varIP='';}\nif(!varUSERNAME){varUSERNAME='';}\nif(!varNAME){varNAME='';}\nif(!varEMAIL){varEMAIL='';}\nvarLASTUPDATED=varDate;\n\n// Create MySQL statement from variables\nmsg.topic=\"\\\nINSERT INTO hosts_table (shortname,fqdn,domain,manual_lastupdated,MANUAL_os,MANUAL_ip,MANUAL_username,MANUAL_name,MANUAL_email) \\\nVALUES (UPPER('\"+varSHORT+\"'),UPPER('\"+varFQDN+\"'),UPPER('\"+varDOMAIN+\"'),'\"+varLASTUPDATED+\"',UPPER('\"+varOS+\"'),'\"+varIP+\"',UPPER('\"+varUSERNAME+\"'),UPPER('\"+varNAME+\"'),UPPER('\"+varEMAIL+\"')) \\\nON DUPLICATE KEY UPDATE \\\nfqdn=COALESCE(NULLIF(UPPER(VALUES(fqdn)),''),UPPER(fqdn)),\\\ndomain=COALESCE(NULLIF(UPPER(VALUES(domain)),''),UPPER(domain)),\\\nMANUAL_lastupdated=COALESCE(VALUES(MANUAL_lastupdated),MANUAL_lastupdated),\\\nMANUAL_os=COALESCE(NULLIF(UPPER(VALUES(MANUAL_os)),''),UPPER(MANUAL_os)),\\\nMANUAL_ip=COALESCE(NULLIF(UPPER(VALUES(MANUAL_ip)),''),UPPER(MANUAL_ip)),\\\nMANUAL_username=COALESCE(NULLIF(UPPER(VALUES(MANUAL_username)),''),UPPER(MANUAL_username)),\\\nMANUAL_name=COALESCE(NULLIF(UPPER(VALUES(MANUAL_name)),''),UPPER(MANUAL_name)),\\\nMANUAL_email=COALESCE(NULLIF(UPPER(VALUES(MANUAL_email)),''),UPPER(MANUAL_email));\"\n\nmsg.payload='';\n\n//Log host shortame to log file with timestamp\nvar msg2={payload:\"\"+varDate+\": Writting \"+varSHORT+\" MANUAL Host to Hosts table.\"};\n\n//Send data to mysql and log\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":1520,"wires":[["4e6da939.f20828"],["4e6da939.f20828"]]},{"id":"b32918b0.8d90b8","type":"fs-ops-move","z":"ebea9d7c.10001","name":"Move manual_hosts.csv","sourcePath":"/tmp/in/","sourcePathType":"str","sourceFilename":"manual_hosts.csv","sourceFilenameType":"str","destPath":"/tmp/out/manual/","destPathType":"str","destFilename":"Date","destFilenameType":"global","link":false,"x":670,"y":1480,"wires":[[]]},{"id":"74be167d.3ed028","type":"file in","z":"ebea9d7c.10001","name":"/tmp/in/manual_hosts.csv","filename":"/tmp/in/manual_hosts.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":590,"y":1400,"wires":[["12c7dd56.1aab23"]]}]
